h1 From Zero eXPerience to Eleven Hundred per Day as Web Developer

h2 Before day Zero

p He used to work in jobs related to sales, at least is how I remember it.

p He used to work for insurance companies as a cold caller. One quote I remeber was "If one would make a sale or two out of one Hundred calls, he would be doing really well."

p He used to own and run a real estate business. At some point, life threw him piss, and he lost literally everything.

ul 
  li Razvan 
  li Ionel V 
  li and Marian, which is I.

p are online on TikTok.
